#app {
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;
    }
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container {
        max-width: 31rem;

        & > img  {
            margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;

        & span {
            color: var(--text-hightlight);
        }
    }
}

@media (width < 50em) {
    #app {
        display: flex;
        flex-direction: column-reverse;
    }

    aside {
        display: grid;
        justify-content: center;
        padding: 1.5rem;
        & .aside-container {
            background-color: var(--surface-secondary);
            display: grid;
            justify-content: center;

            & header {
                display: grid;
                justify-content: center;

                & img {
                    min-height: 2rem;
                }
            }

            & > img  {
                margin-top: .75rem;
            }
        }
    }

    .aside-container {
        display: grid;
        width: 100%;
        justify-content: center;
        padding: 1.5rem;
        background-color: var(--surface-secondary);
        justify-content: center;

        & header {
            display: grid;
            justify-content: center;

            & img {
                min-height: 2rem;
            }
        }

        & > img  {
            margin-top: .75rem;
        }
    }

    main {
        justify-items: center;
        padding: 0rem;
        
        & .main-container {
            margin-left: 0;
            display: grid;
            justify-content: center;
            padding: 1.5rem;
        }
    }

}